<!-- put css link here  "static/css/main.css"

can use the css in layout or any file that "extends" layout file-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask: Project 1</title>
</head>

<body>

    {% block header %}
    {% endblock header %}

    <!-- borrowed from prework -->
    <nav>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Home</a></li> <!-- 'home' is name of route function for home page-->
            <li><a href="{{ url_for('pokemon') }}">Pokemon</a></li>
            <li><a href="{{url_for('abilities') }}">Abilities</a></li>
        </ul>        
    </nav>
        <!-- end: borrowed from prework -->

    {% block content %}
    {% endblock content %}
    
</body>
</html>